<?xml version="1.0" encoding="UTF-8" ?>
<server description="lutece server">
    <!--The Liberty Maven Plugin has generated Liberty features necessary for your application in configDropins/overrides/generated-features.xml-->
    <featureManager>
       <feature>persistence-3.1</feature>
        <feature>beanValidation-3.0</feature>
        <feature>jndi-1.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>localConnector-1.0</feature>
        <feature>cdi-4.0</feature>
        <feature>servlet-6.0</feature>
        <feature>pages-3.1</feature>
        <feature>mpConfig-3.1</feature>
        <feature>mail-2.1</feature>
        <feature>xmlBinding-4.0</feature>
        <feature>concurrent-3.0</feature>
     </featureManager>


    <!-- tag::httpEndpoint[] -->
    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
    <!-- end::httpEndpoint[] -->
    
    <!-- log4j configuration directory -->
     <!--   
	 <library id="log4jConfig">
	          <folder dir="${build.directory}/lutece/WEB-INF/conf" scanInterval="5s" />
	</library>
	-->    
    <application name="lutece" context-root="${app.context.root}" location="${appLocation}" type="war">		
		<!-- <classloader commonLibraryRef="log4jConfig"/>-->
	</application>
</server>
